*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

html, body{
    height: 100%;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/b3.jpg);
    background-size: cover;
}

h1{
    color: #fff;
    font-size: 144px;
    /* font-weight: 300; */
    font-weight: 500;
    width: 80%;
    text-align: center;
}

.marcar{
    display: flex;
    background: #0288D1;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.topbar{
    background: #28282810;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 40px;   
}
.topbar span{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.options{
    position: absolute;
    width: 150px;
    height: 120px;
    height: min-content;
    padding: 10px 0px;
    background-color: #fff;
    top: 60px;
    right: 15px;
    display: none;
    place-items: center;
    border-radius: 3px;
    transition: all .3s ease-in-out;
    opacity: 0; 
}
.options::before{
    content: '';
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    position: absolute;
    top: -19px;
    right: 40px;
}
.options.active{
    display: grid;
    animation: entrada .5s ease-in-out .1s forwards;
}
@keyframes entrada {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.options ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    list-style: none;
    width: 100%;
}

.options ul li{
    width: 98%;
    height: 30px;
    text-align: center;
}

.options ul li a{
    border-radius: 3px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 14px;
    color: #282828;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    gap: 8px;
}

.options ul li a:hover{
    background: #0288D1;
    color: #fff;
}

.finger{
    filter: brightness(0%) invert(100%);
    width: 30px;
}